<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D2R Market</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block extra_css %}{% endblock %}
</head>
<body>
  <nav>
    <div class="nav-container">
      <h1>D2R Market</h1>

      <ul>
				<li><a href="{{ url_for('index') }}">Início</a></li>
				<li><a href="{{ url_for('inventory') }}">Inventário</a></li>
				<li><a href="{{ url_for('catalog') }}">Catálogo</a></li>
				<li><a href="{{ url_for('stash') }}">Stash</a></li>
				<li><a href="{{ url_for('config') }}">Configurações</a></li>
			</ul>

      <div class="token-balance">
        <span id="balance-value">{{ global_balance }}</span> tokens
      </div>
    </div>
  </nav>

  <main>
    <div id="message-area"></div>
    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>